{% extends 'room_layout.html' %}
{% load static %}
{% block content %}

<nav class="navbar navbar-expand-lg">
<div class="container-fluid">
    <a class="navbar-brand" href="./index.html">
    <img src="{% static 'img/gather-3.svg' %}" width="80%" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa-solid fa-bars-staggered"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav text-center ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'room:lobby' %}">Join</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Host</a>
        </li>
        {% if not request.user.is_authenticated %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:login' %}">Sign in</a>
        </li>

        <li class="nav-item">
        <a class="nav-btn shadow-none btn btn-outline-white" href="{% url 'accounts:signup' %}">Create account</a>
        </li>
        {% else %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard:dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item">
        <a class="nav-btn shadow-none btn btn-outline-white" href="{% url 'accounts:logout' %}">Logout</a>
        </li>
        {% endif %}
    </div>
</div>
</nav>



<section class="signin lobby" style="background-image:url({% static 'img/landing.png' %});" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="form-container mt-5 mb-4">
                <form class="form mt-3" id="form">
                 
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-md-12 text-center ">
                            <div class="form-title">
                                <h6>Join a meeting</h6>
                            </div>
                        </div>


                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="text" placeholder="Room Name" name="room" class="form-control mt-4 mb-4 shadow-none">
                            </div>
                        </div>

                        {% if not request.user.is_authenticated %}
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="text" placeholder="Name" name="name" class="form-control mb-4 shadow-none">
                            </div>
                        </div>
                        {% endif %}

        
                        <div class="col-lg-12 text-center">
                          
                            <div class="form-group">
                            <button class=" l-btn shadow-none form-control btn btn-outline-white mb-3" type="submit">Join</button>
                            
                        </div>
                    </div>
                            
                   </div>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}

{% block scripts %}
{% if request.user %}
{{ request.user.full_name|json_script:"json-user_name" }}
{% endif %}
<script>

let user_name = JSON.parse(document.getElementById('json-user_name').textContent)
console.log(user_name)
let handleSubmit = async (e) => {
    e.preventDefault()
    let room = e.target.room.value.toUpperCase()
    let name;
    if (user_name){
        name = user_name
    }else{
         name = e.target.name.value
    }
    let response = await fetch(`/room/get-token/?channel=${room}`)
    let data = await response.json()

    let UID = data.uid
    let token = data.token

    sessionStorage.setItem('UID', UID)
    sessionStorage.setItem('token', token)
    sessionStorage.setItem('room', room)
    sessionStorage.setItem('name', name)

    window.open('/room/main-room/', '_self')
}



form.addEventListener('submit', handleSubmit)
</script>



{% endblock scripts %}