{% extends 'room_layout.html' %}

{% load static %}

{% block content %}


<section class="video-streams" id="video-streams">
    <div class="container">
        <div class="row justify-content-center">
            <div class="meeting-time"><p id="time"></p></div>
            <div class="text-dark"> <strong>{{room.name}}</strong></div>
            <div class="col-lg-8 col-md-12 text-center">
                <div class="row justify-content-center"  id="video-streams-container">
                   
                </div>
            </div>
            <div class="col-lg-4 mb-5 d-sm-none d-md-none d-lg-block d-none">
                <div class="chat-container mb-4">
                    <div class="chat-title m-auto text-center mt-3">
                        <h6>Live chat</h6>
                        <p>Chat disappears after meeting ends</p>
                    </div>
                    <div class="chat-main" id="chat">
                        {% for m in messages %}

                        <div class="message-container mb-3 p-2" >
                            <div class="message m-2">
                                <p><strong><em>{{m.member}}</em></strong></p>
                                <span>{{m.content}}</span>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                    <div class="chat-input d-flex text-center mb-2">
                        <div class="form-group">
                            <input type="text" class="form-control shadow-none" placeholder="type message" id="chat-message">
                        </div>
                        <i class="fa fa-send" id="send-btn" role="button"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center position-relative " >
        <div class="col-lg-12 col-sm-12 col-md-12 fixed-bottom text-center">
            <div id="controls-wrapper" class="d-flex justify-content-center">
                <div id="icon-wrapper" class="m-3">
                    <i  alt="" class="fa fa-microphone" id="mic-btn"></i>
                </div>
                <div id="icon-wrapper" class="m-3">
                    <i  alt="" class="fa fa-camera" id="camera-btn"></i>
                </div>
                <div id="icon-wrapper" class="m-3 d-md-block d-lg-none d-sm-none d-xs-block">
                    <i  alt="" class="fa fa-comment" role="button" id="comment-btn" data-bs-toggle="modal" data-bs-target="#chatModal" data-bs-whatever="@mdo"></i>
                </div>
            
                <div id="icon-wrapper" class="m-3">
                    <i  alt="" class="fa fa-phone" id="leave-btn"></i>
                </div>
            </div>
        </div>
        </div>
    
 
    </div>

    <div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-wine" id="exampleModalLabel">Room Live chat</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="chat-container mb-4">
                    <div class="chat-title m-auto text-center mt-3">
                        <h6>Live chat</h6>
                        <p>Chat disappears after meeting ends</p>
                    </div>
                    <div class="modal-chat-main" id="modal-chat">
                        {% for m in messages %}

                        <div class="message-container mb-5 d-flex p-2" >
                            <div class="message m-2">
                               <p><span><strong><em>{{m.member}}</em></strong></span></p> 
                                <span>{{m.content}}</span>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                    <div class="chat-input d-flex text-center mb-2">
                        <div class="form-group">
                            <input type="text" class="form-control shadow-none" placeholder="type message" id="modal-chat-message">
                        </div>
                        <i class="fa fa-send" id="modal-send-btn" role="button"></i>
                    </div>
                </div>
            </div>
            
          </div>
        </div>
      </div>
   
</section>





{% endblock content  %}

{% block scripts %}
{{ request.user.username|json_script:"json-username" }}
{{ room.duration|json_script:"json-duration" }}
{{ room.id|json_script:"json-room" }}
{{ room.start_time|json_script:"json-start_time" }}



<script>

    const roomName =  JSON.parse(document.getElementById('json-room').textContent)
    let userName = JSON.parse(document.getElementById('json-username').textContent)
    const username = sessionStorage.getItem('name')
    const uid = sessionStorage.getItem('UID')
  
    const chatSocket = new WebSocket(
        'ws://'
        + '127.0.0.1:8000'
        + '/ws/'
        +roomName
        +'/'
    );

   
  
 chatSocket.onclose = function(e){
        console.log('end')
    }
    chatSocket.onmessage = function(e){
        const data = JSON.parse(e.data);
        console.log(e.data)
        if (data.message){
                document.querySelector('.chat-main').innerHTML +=  `<div class="message-container mb-3 d-flex p-2">
                            <div class="message m-2">
                                 <p><strong><em>${data.username}</em></strong></p>
                                <span>${data.message}</span>
                            </div>
                        </div>`

                        document.querySelector('.modal-chat-main').innerHTML +=  `<div class="message-container mb-3 d-flex p-2">
                            <div class="message m-2">
                                 <p><strong><em>${data.username}</em></strong></p>
                                <span>${data.message}</span>
                            </div>
                        </div>`
        }
        else{
            alert("Empty message");
        }
        scrollToBottom();
        scrollToBottomModal();
    }


    //

   document.querySelector('#send-btn').onclick = function(e) {
        e.preventDefault();

        let messageInputDom = document.querySelector("#chat-message"); 
       
        let message = messageInputDom.value;
        

        console.log({
            'message': message,
            'username': username,
            'room': roomName
        })

        chatSocket.send(JSON.stringify({
            'message':message,
            'username':username,
            'room':roomName,
            'uid':uid
        }));

        messageInputDom.value = ''

        return false;


    }

    document.querySelector('#modal-send-btn').onclick = function(e) {
        e.preventDefault();

        let messageInputDom = document.querySelector("#modal-chat-message"); 
       
        let message = messageInputDom.value;
        

        console.log({
            'message': message,
            'username': username,
            'room': roomName
        })

        chatSocket.send(JSON.stringify({
            'message':message,
            'username':username,
            'room':roomName,
            'uid':uid
        }));

        messageInputDom.value = ''

        return false;


    }


    document.getElementById("comment-btn").onclick = function (e){
        scrollToBottomModal();
    }
    function scrollToBottom(){
        const objDiv = document.querySelector("#chat")
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    function scrollToBottomModal(){
        const objDiv = document.querySelector("#modal-chat")
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    
function CountDown(){
// Set the date we're counting down to

let duration = JSON.parse(document.getElementById('json-duration').textContent)
let start_time = JSON.parse(document.getElementById('json-start_time').textContent)
let startTime = new Date(start_time).getTime();
 

let countDownDate = new Date(duration).getTime();
// Update the count down every 1 second
let x = setInterval(function() {

  // Get today's date and time
  let now = new Date().getTime();
     
  if(startTime > now ){
    window.open('/room/lobby/', '_self')
    alert("Meeting has not yet started, you will be redirected to lobby")
  }  

  // Find the distance between now and the count down date
  let distance = countDownDate - now;
    
  // Time calculations for days, hours, minutes and seconds
  let days = Math.floor(distance / (1000 * 60 * 60 * 24));
  let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  let seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // Output the result in an element with id="demo"
  document.getElementById("time").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";
    
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    window.open('/room/lobby/', '_self')
    alert("This meeting has ended, Goodbye")
  }
}, 1000);
    }


CountDown();
scrollToBottom();
scrollToBottomModal();

</script>


<script  src="{% static 'agora/AgoraRTC_N-4.11.0.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/stream.js' %}"></script>



{% endblock scripts %}






