{% extends 'room_layout.html' %}
{% load static %}
{% block content %}

<section id="room-name-wrapper">
    <p>Room Name: <span id="room-name"></span></p>
</section>

<section class="video-streams" id="video-streams">
    <div class="container">
        <div class="row justify-content-center" id="video-streams-container">
    
        
        </div>
        <div class="row justify-content-center fixed-bottom m-auto">
            <div class="col-lg-3 m-auto  mt-3">
            <div id="controls-wrapper" class="d-flex">
                <div id="icon-wrapper" class="m-3">
                    <i  alt="" class="fa fa-microphone" id="mic-btn"></i>
                </div>
                <div id="icon-wrapper" class="m-3">
                    <i  alt="" class="fa fa-video" id="camera-btn"></i>
                </div>
                <div id="icon-wrapper" class="m-3">
                    <i  alt="" class="fa fa-arrow-right" id="leave-btn"></i>
                </div>
            </div>
            </div>
        </div>
 
    </div>
   
</section>

{% endblock %}


