{% extends 'layout.html' %}
{% load static %}

{% block content %}

<section class="hero" style="background-image:url({% static 'img/landing.png' %}) ;">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12 col-md-12 text-center ">
                <h1 class="big-h1">Quality Video Meetings</h1>
                <div class="col-8 m-auto">
                    <p class="m-auto md-p"> Secure a meeting and track your time </p>
                </div>
               
             
            </div>
            <div class="col-lg-5 col-sm-8 col-md-8  m-auto justify-content-center m-auto text-center  mt-1 pt-2">
                <div class="">
                    <a class="hero-btn shadow-none btn btn-outline-white" href="{% url 'accounts:signup' %}">Get Started</a>
                </div>
            </div>
      
        </div>
    </div>
</section>


{% endblock %}



